﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Webpage2.aspx.cs" Inherits="Soln_Login.Webpage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Css/css.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align:center">

        <div style="text-align:right">
            <asp:Button ID="btnlogout" runat="server" Text="Logout" CssClass="btn btn2" OnClick="btnlogout_Click" />
        </div><br />

      <asp:Label ID="lblwelcome" runat="server" CssClass="lblwelcome" /><br />
       <asp:Label ID="lblfirstname" runat="server" CssClass="lblname" />
       <asp:Label ID="lbllastname" runat="server"  CssClass="lblname" />
        
    </div>
    </form>
</body>
</html>
